<document>
{{ summary }}
</document>
<query>
{{ query }}
</query>

Grade the relevance of the <query> to the <document> on a scale of 1 to 5. 
1 means the query is not relevant to the document.
5 means the query is fully relevant to the document.
