You are provided with a document section described as follows:

Description:
{{ document_description }}

Section:
{{ section }}

Task:
Summarize the section above in under 500 words in markdown format. Avoid always using lists. The summary should be for someone that hasn't read the documents.
Your summary must include key insights from all elements present in the section, including text, tables, images, figures, and charts.
Be comprehensive and avoid long sentences. Write the summary in {{ language }}.
